<div>
  <label for="input">Input</label>
  <input id="input" type="text">
</div>

<div class="card">
  <div class="card-header">
    <h2>Plato</h2>
    <p>La mejor comida</p>
  </div>
  <img src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <div class="card-content">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </div>
  <div class="card-actions">
    <button type="button">LIKE</button>
    <button type="button">SHARE</button>
  </div>
</div>
